@charset "UTF-8";

$regular: 'League Spartan', sans-serif;
$turkus: #39b5b3;
$black: #2b2a29;

html,
body {
  margin: 0;
  padding: 0;
}

@mixin text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

@mixin img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#es-vichy.es-vichy {
  font-family: $regular;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  max-width: 998px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: $black;
  background-color: #fff;

  * {
    box-sizing: border-box;
  }

  h2,
  h3,
  h4,
  h5 {
    font-family: $regular;
    color: #111;
  }

  .es-kv {
    background: #fff;

    &__images {
      background: url('images/packshot.png') top / cover no-repeat;
      background-size: contain;
      height: 615px;
    }

    &__recommendation {
      display: flex;
      flex-direction: column;
    }

    &__disclaimer {
      font-size: 9px;
      text-align: center;
      margin: 7px 10px 0 10px;
    }

    &__header {
      padding: 120px 10px 0 10px;
      font-size: 16px;
      text-align: center;
    }

    &__animated-item {
      height: 350px;
    }

    &__animated-items {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      animation: slidedown 0.6s ease forwards;
      animation-delay: 0.3s;
    }

    &__photo {
      position: relative;
    }

    &__img {
      @include img;

      &--photo {
        width: 100%;
        object-fit: cover;
      }
    }

    &__content {
      background: url('images/photo.jpg') center / cover no-repeat;
      padding-top: 20px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-end;
      min-height: 535px;
    }

    &__title {
      @include text;
      padding: 5px 24px;
      color: $turkus;
      text-transform: uppercase;
      font-size: 26px;
      text-align: right;
      opacity: 0;
      animation: slideright 0.6s ease forwards;
      animation-delay: 0.3s;
    }

    &__subtitle {
      @include text;
      font-weight: bold;
      padding: 5px 24px;
    }
  }

  .es-info {
    padding: 32px 16px;
    margin-bottom: 32px;
    max-width: 730px;
    margin: 0 auto;

    &__border {
      padding: 24px 16px;
      position: relative;
      margin-bottom: 32px;

      &::before {
        content: url('images/border-1.png');
        position: absolute;
        top: 0;
        left: 0;
      }

      &::after {
        content: url('images/border-2.png');
        position: absolute;
        top: bottom;
        right: 0;
      }
    }

    &__title {
      @include text;
      font-size: 20px;
      text-align: center;
      margin-bottom: 32px;
      font-weight: normal;
      text-transform: uppercase;
    }

    &__desc {
      @include text;
      font-size: 16px;
      text-align: center;
      line-height: 1.4;

      strong {
        text-transform: uppercase;
      }
    }

    &__text {
      @include text;
      font-size: 14px;
      text-align: center;
      font-weight: 700;
    }

    &__img {
      @include img;
    }

    &__features {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 -8px;
    }

    &__single {
      padding: 0 8px;
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }

    &__icon {
      margin-bottom: 16px;
    }
  }
}

@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-32px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideright {
  from {
    opacity: 0.3;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
